vm-flow-example/target/classes/vm-flow-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<vm:config name="VM_Config" doc:name="VM Config">
		<vm:queues >
			<vm:queue queueName="myQueue" />
		</vm:queues>
	</vm:config>
	<flow name="vm-publishingFlow">
		<http:listener doc:name="Listener" config-ref="HTTP_Listener_config" path="/json-here"/>
		<vm:publish doc:name="Publish" config-ref="VM_Config" queueName="myQueue">
			<vm:content ><![CDATA[payload.body]]></vm:content>
		</vm:publish>
	</flow>
	<flow name="vm-listeningFlow" >
		<vm:listener queueName="myQueue" doc:name="Listener" config-ref="VM_Config"/>
		<logger level="INFO" doc:name="Logger" message="Hello Buddy"/>
	</flow>
</mule>